:root {
  --background: #feffff;
  --belly-cute: #f4e1c9;
  --belly-scary: #529950;
  --tail-cute: #76401c;
  --tail-scary: #000;
  --tail-accent-cute: #613417;
  --body-cute: #b9713c;
  --body-scary: #7bec77;
  --Shadow: #c4a582;
  --black: #000;
}

$body-scary: #7bec77;
