:root {
  --background: #feffff;
  --belly-cute: #f4e1c9;
  --belly-scary: #529950;
  --tail-cute: #76401c;
  --tail-scary: #000;
  --tail-accent-cute: #613417;
  --body-cute: #b9713c;
  // --body-scary: #7bec77;
  // --body-scary: #7a1f00;
  // --body-scary: #5c1a1b;
  --Shadow: #c4a582;
  --black: #000;
  // --body-scary: #9bd08d;
  --body-scary: #4c4c4c;
}

// $body-scary: #7bec77;
$body-scary: #4c4c4c;

// --pink: #dc549e;
//   --purple-pink: #972582;
//   --purpe: #5f2c83;
//   --lightBlue: #a1dbe8;
//   --lightGreen: #9bd08d;
//   --turqoise: #168788;
//   --gray: #4c4c4c;
//   --darkGray: #333333;
