html,
body {
  overflow: hidden;
  background: var(--background);
}

//

.cartoon {
  position: absolute;
  width: 60vw;
  height: 60vh;
  top: 10%;
}

.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b::before,
.a::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}
