html,
body {
  // overflow: hidden;
  background: var(--background);
}

.cartoon {
  position: absolute;
  width: 60vmin;
  height: 60vmin;
  top: 10%;
}

.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b::before,
.a::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

@media (min-width: 320px) and (max-width: 528px) {
  .cartoon-scary {
    top: 55%;
    left: 14%;
  }
}

@media (min-width: 529px) and (max-width: 1000px) {
  .cartoon-scary {
    top: 60%;
    left: 17%;
  }
}

@media (min-width: 1001px) {
  .cartoon-scary {
    left: 47%;
  }
}
