html,
body {
  overflow: hidden;
  background: var(--background);
}

.wrapper {
  display: flex;
}

.cartoon {
  position: relative;
  width: 50vw;
  height: 75vh;
  top: 10%;
  border: 1px solid black;
}

.cartoon div {
  position: absolute;
  box-sizing: border-box;
}

.b::before,
.a::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}
