.tail {
  width: 12%;
  height: 75%;
  bottom: 0;
  left: 51%;
  border-radius: 0 0 60px;
}

.tail::before {
  width: 180%;
  z-index: -1000;
  height: 90%;
  transform: rotate(45deg);
  border-radius: 100%;
  top: -41%;
  left: 1%;
}

.tail::after {
  width: 50%;
  height: 100%;
}

/****/

.body {
  height: 55%;
  width: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  border-top-left-radius: 53%;
}

.ears {
  width: 15%;
  height: 20%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  top: -19.5%;
}

.ear-left {
  transform: rotateY(180deg);
  left: 29.5%;
}

.ear-right {
  right: -15.25%;
}

.eye {
  width: 30%;
  height: 25%;
  background: white;
  overflow: hidden;
  top: 21%;
  left: 52%;
  border-radius: 100%;
}

.eye::before {
  width: 50%;
  height: 50%;
  background: var(--black);
  border-radius: 50%;
}

.nose {
  background: var(--black);
  width: 8%;
  height: 4%;
  left: 46%;
  transform: translate(-50%, 0);
  top: 51%;
  border-radius: 0 0 50% 50%;
}

.mouth {
  width: 30%;
  height: 13%;
  background: white;
  border: 12px solid var(--black);
  border-top: 0px transparent;
  top: 60%;
  left: 34%;
  border-radius: 0 0 50px 50px;
}

.belly {
  width: 60%;
  height: 23%;
  border-radius: 50px 50px 0 0;
  bottom: -1px;
  left: 21%;
  z-index: -1000;
  background: var(--belly-cute);
}

.feet {
  width: 20%;
  height: 8%;
  border-radius: 50px 50px 0 0;
  background: var(--black);
  bottom: -1px;
  left: 10%;
  box-shadow: 16vmin 0 var(--black);
}

.shadow {
  width: 200px;
  height: 30px;
  margin: auto;
  margin-top: -20px;
  background: #000;
  opacity: 0.6;
  display: block;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-filter: blur(17px);
  filter: blur(17px);
  bottom: 5%;
  left: 33%;
}
